
pre_labs/pre_lab_01/.DS_Store
pre_labs/.DS_Store
labs/lab_01/.Rhistory
.DS_Store
pre_labs/.DS_Store
.DS_Store
labs/.DS_Store
labs/.DS_Store
.DS_Store
.DS_Store
pre_labs/.DS_Store
pre_labs/pre_lab_02/.Rhistory
pre_labs/.DS_Store
